body{
display:grid;
    grid-template-rows:3fr 4fr 2fr;
    grid-template-columns:1fr;
    height: 100vh;
    margin:0;
    justify-content:stretch;
    align-content:stretch;
    background-image: url(../img/aurora.jpg);
    Background-position: center;
    Background-repeat: no-repeat;
    background-attachment: fixed;
    Background-size: cover;
}

/* Header*/
.header{
  grid-row-start:1;
  grid-row-end:4;
}
/* Campo main*/
.main{
  grid-row-start:4;
  grid-row-end:8;
}
.home{
  display:grid;
  grid-template-rows:1fr 1fr 1fr 3fr;
  grid-template-columns:1fr 1fr 1fr;
  margin:5px;
  padding:5px;
}
.letsstart{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  opacity: 0.6;
  background:rgba(17, 19, 19, 0.863);
  Display:flex;
  Justify-self:start;
}
.search{
  opacity: 0.6;
  background:rgba(17, 19, 19, 0.863);
  grid-row-start: 1;
  grid-row-end:2;
  grid-column-start:2;
  grid-column-end:3;
  display:flex;
}
.searchbar{
  width:100%;
  justify-content: center;
  align-items:center;
}
.searchbuton{
  opacity: 0.6;
  background:rgba(17, 19, 19, 0.863);
  grid-row-start: 1;
  grid-row-end:2;
  grid-column-start:3;
  grid-column-end:4;
  display:flex;
}

.subtitle{
  Display: flex;
  color:rgba(230, 233, 235, 0.856);
  font-family: "Calibri", sans-serif;
  font-size: 40px;
  font-weight: bold;
  Justify-content: start;
  }
.countryfilter{
  grid-row-start: 2;
  grid-row-end:3;
  grid-column-start:1;
  grid-column-end:4;
  display:flex;
  justify-content: start;
  align-content:start;
}
h3{
  color:rgba(230, 233, 235, 0.856);
  font-family: "Calibri", sans-serif;
  font-size:30px;
  justify-self:center;
  align-self:center;
  Padding:0;
}
.Subtitle3{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
}
.subject{
  grid-row-start:4;
  grid-row-end:7;
  grid-column-start:1;
  grid-column-end:4;
}
.full{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.animals{
  grid-column-start: 1;
  grid-column-end: 2;
}
.Enviroment{
  grid-column-start: 2;
  grid-column-end: 3;
}
.Humanity{
  grid-column-start: 3;
  grid-column-end: 4;
}
.subtitle33{
    margin:0px;
  }
form{
  display:flex;
  justify-content:space-around;
}
img{
  width: 100%;
  height:100%;
}
/* Campo footer*/
.footer{
  grid-row-start:8;
  grid-row-end:10;
  display: flex;
  align-content: baseline;
  color:rgba(217, 243, 243, 0.863);
  font-family: Arial, Helvetica, sans-serif;
  margin:5px;
  padding:5px;
}

/* especificos diseño Header Menu*/
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
        background: #55ACEE;
        color: white;
}

h1{
    color:aliceblue;
    font-family: "Calibri", sans-serif;
    font-size: 80px;
    font-weight: bold;
    display: inline;
    padding:5px;
    margin:5px;
}

.subtitle1{
    color:rgba(230, 233, 235, 0.856);
    font-family: "Calibri", sans-serif;
    font-size: 40px;
    font-weight: bold;
    display: inline;
    }

.login{
    display:flex;
    position: absolute;
    left: 1100px;
    top: 40px;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    height: 40px;
    width: 100px;
    cursor: pointer;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: sans-serif;
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
    
  }
  
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }

 .searchbut{
      display:inline;
      width: 20%;
  }


/* especificos diseño pagina contact*/
.contactpage{
  display:grid;
  grid-template-rows: 1fr 5fr;
  Grid-template-columns: 1fr;
}
.titulocontacto{
  color:rgba(230, 233, 235, 0.856);
  font-family: "Calibri", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.formtitle{
  padding:10px 10px 10px 10px;
  border-top: 20px;
  grid-row-start:1;
  grid-row-end:2;
}
.formulario{
  grid-row-start:2;
  grid-row-end:7;
}
.contactform{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px;
  display:grid;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  Grid-template-columns: 1fr;
}

.form-email{
  font-family: Arial, sans-serif;
  font-size: 15px;
  grid-row-start:2;
  grid-row-end:3;
  }
  
  .form-Fullname{
    font-family: Arial, sans-serif;
    font-size: 15px;
    grid-row-start:1;
    grid-row-end:2;
  }
  
  .form-Message{
      font-family: Arial, sans-serif;
      font-size: 15px;
      grid-row-start:3;
      grid-row-end:5; 
      }

      .sendbuton{
        background-color: #58c0b2;
        border: none;
        color: white;
        text-decoration: none;
        padding: 20px;
        margin: 20px;
        width:90%;
        grid-row-start:5;
        grid-row-end:6; 
      }
.input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.textarea[id=texto], select {
  width: 100%;
  height:100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

@media screen and (max-width:768px){
.menuyrs{
  font-size:x-small;
}
.tituloprincipal1{
font-size: 40px;
}

.tituloprincipal2{
font-size: 20px;
}
.subtitle{
  font-size: 20px;
}
.subtitle1{
  font-size: 20px;
}
h3{
  font-size: 20px;
}
.contactform{
  border-radius: 5px;
  background-color: #534d4d;
}
.full{
  display:none;
}
.subject{
background:rgb(252, 251, 251);
}
.contactform{
  background-color: #353434;
  color: white;
}
.titulocontacto{
  font-size: 20px;
}
}
@media screen and (min-width:768px){
.mobile{
  display:none;
}
}